@use "@/assets/styles/variables.scss" as *;
@use "@/assets/styles/breakpoints.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Noto+Serif+Old+Uyghur&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Noto+Serif+Old+Uyghur&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    font-family: $font-main, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

button, link, li {
    all: unset;
    cursor: pointer;
}

body {
    min-height: 100vh;
    padding-bottom: 402px; /* Space for the footer */
    position: relative; /* Needed for absolute positioning of the footer */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18rem;
    flex-shrink: 0;
    background-color: #1c1d1f;
    color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@include until("small") {
    main {
        margin: 0 1rem;
        padding-top: 3rem;
    }

    footer {
        margin-bottom: 82px;
    }

}

@include until ("extra-small") {
    * {
        display: none;
    }                                

}