// Brand colors
$primary-color: #283618;
$secondary-color: #DDA15E;
$accent-color: #FEFAE0;

// Neutrals
$white: #fafafa;
$black: #0b0b0b;
$red: #fb7979;

// State colors
$success-color: #13752a;
$warning-color: #c29204;
$error-color: #9d2d38;

// Font families
$font-main: 'Lexend Deca', sans-serif;
$font-secondary: 'Unna', serif;

// Font weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
